.footer{
    text-align: center;
    margin-top: auto;
    margin-left: auto;
    max-width: calc(100% - 234px);
    width: 100%;
}
.footer__copyright{
    font-size: 20px;
}
@media only screen and (max-width: 815px) {
	.footer {
		max-width: 100%;
	}
}