/* ---------------------------------------
	General
--------------------------------------- */
body {
	font-size: 14px;
	font-family: "Roboto Mono", monospace;
	word-spacing: -3px;
	font-weight: 500;
}
main {
	margin-top: 65px;
	display: flex;
	flex-wrap: wrap;
}
.main-panel{
	width: 100%;
	max-width: calc(100% - 234px); //sidebar width
	margin-left: auto;
	height: 100%;
}
@media only screen and (max-width: 1200px) {
    .main-panel {
		max-width: calc(100% - 180px);
    }
}
@media only screen and (max-width: 815px) {
	.main-panel {
		margin-top: 20px;
		max-width: 100%;
	}
}
*::selection{
	background-color: #f5a63c;
	color: #fff;
}
a{
	text-decoration: none;
}
.no-list{
	list-style: none;
	padding-left: 0;
}

/* ---------------------------------------
	Button
--------------------------------------- */
.button {
	display: inline-block;
	background-color: #e8e8e8;
	border: 1px solid #abaaaa;
	text-align: center;
	padding: 9px 13px;
	border-radius: 18px;
	color: #000;
	&:hover{
		opacity: 0.7;
	}
}
.button--orange{
	background-color: #f5a63c;
	color: #fff;
	border-color: #f5a63c;
}
