/* ---------------------------------------
	Header
--------------------------------------- */
.header {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 5;
	display: flex;
    background-color: #fff;
	justify-content: space-between;
	align-items: center;
	padding: 12px 15px 13px;
	box-shadow: 0px 0px 4px 3px rgba(41, 41, 41, 0.25);
}
.header__search {
	width: 35%;
	display: flex;
	margin-right: 6.5%;
}
.header__input {
	width: 100%;
	border: 1px solid #d7d7d7;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 8px 10px;
	&:focus {
		outline: none;
		border: 1px solid #719ece;
	}
}
.header__button {
	border: none;
	font-size: 0;
	border: 0;
	background-color: transparent;
	&:hover {
		opacity: 0.7;
		cursor: pointer;
	}
}
.header__button .fas {
	font-size: 16px;
}
.header__button--search {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #ededed;
	border: 1px solid #d7d7d7;
	border-left: 0;
}
.header__button--search .fas {
	font-size: 14px;
}
.header__button--microphone .fas,
.header__button--bell .fas {
	padding: 2px 10px;
	font-size: 22px;
	color: #b9b9b9;
}
.header__button--paw {
	height: 40px;
	width: 40px;
	background-color: #f5a63c;
	border-radius: 50%;
}
.header__button--paw:hover,
.header__button--paw:focus
 {
	background-color: #dbdbdb;
	& + .header__menu {
		display: block;
	}
}
.header__collumn {
	position: relative;
}
.header__menu {
	display: none;
	position: absolute;
	right: 10px;
	top: 95%;
	min-width: 160px;
	width: 100%;
}
@media only screen and (max-width: 600){
    .header{
        flex-wrap: wrap;
    }
    .header__search{
        width: 100%;
        margin: 15px 0 ;
    }
}
/* ---------------------------------------
	Menu
--------------------------------------- */
.menu {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 4px 3px rgba(41, 41, 41, 0.25);
}
.menu__link {
	text-decoration: none;
	color: #000;
}
.menu__link--red {
	color: #ff1616;
}
.menu__link .fas {
	margin-right: 5px;
}
.menu__item {
	padding: 10px 15px;
	border-bottom: 1px solid #e4e5e6;
	&:hover {
		background-color: #e4e5e6;
	}
	&:last-of-type {
		border-bottom: none;
	}
}
