/* ---------------------------------------
	Sidebar
--------------------------------------- */
.sidebar {
    background-color: #e8e8e8;
    max-width: 234px;
    position: fixed;
    top: 65px;
    height: calc(100% - 65px);
    display: flex;
    flex-direction: column;
}
.sidebar__streamers {
    padding: 0 15px;
    overflow-y: auto;
    height: inherit;
}
@media only screen and (max-width: 1200px) {
    .sidebar {
        max-width: 180px;
    }
}
@media only screen and (max-width: 815px) {
    .sidebar {
       top: 0;
       margin-top: 100px;
       max-width: 100%;
       width: 100%;
       position: relative;
    }
}
/* ---------------------------------------
	Avatar
--------------------------------------- */
.avatar {
    width: 33px;
    height: 33px;
    object-fit: cover;
    border-radius: 50%;
}
/* ---------------------------------------
	Streamer
--------------------------------------- */
.streamer {
    padding: 10px 0;
    margin-top: 10px;
}
.streamer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #000;
    caret-color: transparent;
}
.streamer__inner:hover {
    color: #f5a63c;
}
.streamer__name {
    margin-left: 5px;
    margin-right: auto;
    text-overflow: ellipsis;
    overflow: hidden;
}
.streamer__counter--live {
    &::before {
        content: "";
        display: inline-block;
        height: 8px;
        width: 8px;
        margin-right: 5px;
        margin-bottom: 1px;
        background-color: #ff1616;
        border-radius: 50%;
        animation: shadow 3s infinite;
    }
}
@media only screen and (max-width: 1200px) {
    .streamer__name {
        display: none;
    }
}
@keyframes shadow {
    0% {
        box-shadow: 0 0 5px 1px rgba(#ff1616, 0);
    }
    25% {
        box-shadow: 0 0 5px 1px rgba(#ff1616, 0.5);
    }
    50% {
        box-shadow: 0 0 5px 1px rgba(#ff1616, 1);
    }
    75% {
        box-shadow: 0 0 5px 1px rgba(#ff1616, 0.5);
    }
    75% {
        box-shadow: 0 0 5px 1px rgba(#ff1616, 0.25);
    }
}
/* ---------------------------------------
	Footer
--------------------------------------- */
.socials {
    background-color: #e8e8e8;
    border-top: 1px solid #fff;
    width: 100%;
    padding: 15px;
    height: 152px;
}
.socials__title {
    font-weight: 500;
    font-size: 18px;
    margin-top: 0;
}
.socials__inner {
    background-color: #dadada;
    padding: 15px;
    text-align: center;
}
.socials__list {
    display: flex;
    font-size: 0;
    justify-content: center;
}
.socials .fab {
    font-size: 23px;
}
.socials__link {
    text-decoration: none;
    color: #000;
    &:hover {
        color: #0098ff;
    }
}
.socials__item {
    margin: 0 14px;
}

/* ---------------------------------------
	Categories
--------------------------------------- */
.categories {
    caret-color: transparent;
    padding: 0 15px;
    margin: 15px 0 35px;
}
.categories__list {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 15px;
    overflow-x: scroll;
    padding-bottom: 15px;
}  

/* ---------------------------------------
	slide
--------------------------------------- */
.slide {
    max-height: 316px;
    height: 100%;
    display: flex;
    background-color: #e8e8e8;
    border-radius: 5px;
    caret-color: transparent;
    box-shadow: 0px 4px 8px 7px rgba(41, 41, 41, 0.25);
}
.slide--horizontal {
    flex-direction: column;
}
.slide--no-shadow {
    box-shadow: none;
}
.slide__preview {
    width: 70%;
}
.slide__wrapper {
    width: 30%;
    padding: 20px 10px;
}
.slide__image {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.slide__description .description__content {
    width: 70%;
    margin-left: auto;
}
.slide__description .description__title {
    width: 112px;
}
@media only screen and (max-width: 815px) {
    .slide {
        flex-wrap: wrap;
    }
    .slide__preview{
        max-height: 200px;
    }
    .slide__preview,
    .slide__wrapper {
        width: 100%;
    }
    .slide__description .description__content{
        width: auto;
        margin-left: 10px;
    }
    .slide__description .description__title{
        width: auto;
    }
}
/* ---------------------------------------
	Preview
--------------------------------------- */
.preview {
    position: relative;
}
.preview__meta {
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 5px;
    font-weight: 400;
    margin: 0;
    border-radius: 3px;
    background-color: rgba(41, 41, 41, 0.7);
    color: #fff;
    font-size: 12px;
}
.preview__meta--live {
    position: absolute;
    right: auto;
    left: 5px;
    bottom: auto;
    top: 5px;
    background-color: #ff0000;
    text-transform: uppercase;
}
/* ---------------------------------------
	Description
--------------------------------------- */
.description {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.description__avatar {
    width: auto;
}
.description__content {
    margin-left: 10px;
}
.description__text {
    width: 100%;
}
.description__title {
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    margin: 0;
}
.description__link {
    color: #757575;
    &:hover {
        color: #f5a63c;
    }
}

/* ---------------------------------------
	Videos List
--------------------------------------- */
.videos-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 0 15px;
    margin: 50px 0;
}
@media only screen and (min-width: 1600px) {
    .videos-list {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media only screen and (max-width: 1200px) and (min-width: 815px) {
    .videos-list {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 815px) {
    .videos-list {
        grid-template-columns: repeat(1, 1fr);
    }
}
/* ---------------------------------------
	Video
--------------------------------------- */
.video {
    margin-bottom: 10px;
}
.video:hover {
    cursor: pointer;
}
.video__preview {
    position: relative;
    margin-bottom: 5px;
}
.video:hover .video__preview::after {
    font-family: "Font Awesome 5 Free";
    content: "\f1b0";
    font-size: 36px;
    font-weight: 900;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.video__image {
    width: 100%;
    height: 213px;
    object-fit: cover;
}
.video__wrapper {
    position: relative;
}
.video__menu {
    font-size: 0;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    right: 3px;
    background-color: transparent;
    border: none;
}
.video__menu .fas {
    color: #000;
    font-size: 16px;
}
.video__menu:hover .fas {
    color: #f5a63c;
}
